{% load static %}


<link rel="stylesheet" href="{% static 'CSS/mainlogo.css' %}">



<div onclick="location.href=`{% url 'mainpage' %}`" class="pointcursor">

    {% if header.header_image_left and header.header_image_left.url %}
    <img src="{{ header.header_image_left.url }}" alt="Header Image Left" class="logo-img" loading="lazy">
    {% else %}
    <img src="{% static 'images/default_image.png' %}" alt="Default Header Image Left" class="logo-img"
        loading="lazy">
    {% endif %}

</div>