{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/productSection.css' %}">

<div class="container">
    <div class="d-flex justify-content-between">
        <span>
            <h1>Products</h1>
        </span>
        <span onclick="location.href=`{% url 'allproduct' %}`" class="cursor allprdt">
            <i class="bi bi-arrow-right h-25 w-25 border px-1 rounded-circle"></i>
        </span>
    </div>
    <div class="card-container mb-2">
        {% for prodct in product %}
        <article class="product-card boxshadow" onclick="location.href=`{% url 'product_itemView_detail' prodct.id %}`">
            <span class="badge">{{ prodct.product_discount }}% OFF</span>
            {% if prodct.product_image %}
            <img src="{{ prodct.product_image.url }}" alt="{{ prodct.product_name }}" class="product-img">
            {% else %}
            <img src="{% static 'images/default_image.png' %}" alt="Default image" class="product-img">
            {% endif %}
            <div class="card-content">
                <h3 class="product-title">{{ prodct.product_name }}</h3>
                <p class="product-description">{{ prodct.product_description }}</p>
                <p class="price">
                    Rs.{{ prodct.get_discount_amount|floatformat:0 }}
                    <span class="old-price">Rs.{{ prodct.product_price|floatformat:0 }}</span>
                </p>
                <div class="button-group">
                    <a href="{% url 'add_to_cart' prodct.id %}" class="buttonUI" title="Add to Cart">
                        Add to Carts
                    </a>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
</div>