{% extends "base.html" %}

{% block title %}
NEPHOT - Canceling Order
{% endblock %}


{% block canceling_order %}
<h1 class="text-center"><u>Canceling Order</u></h1>

<div class="mt-5">
    <p>To cancel an order, first of all, you should place an order. If the product has been ordered using other forms such as phones, email then you can use the respective medium to cancel an order.</p>
    <p>However, if your order has been made from the Nephot account, you will have to follow the below procedures:</p>

    <h4>How to cancel an order?</h4>
    <p>After you have made an order and you can track its shipping status. If the shipping status is under pre-shipped status or your order has not been packed for shipping or delivery; then you can cancel the order by following these steps.</p>
    <ol>
        <li>Firstly, click on my account from the Nephot website. Then, log in to your account.</li>
        <li>Click on “<b>My Orders</b>” and view the order list.</li>
        <li>Choose the order that has to be canceled. Click the “<b>Cancel</b>” button.</li>
        <li>State or select the reason for your cancellation.</li>
        <li>Read cancellation policy</li>
        <li>Click on “<b>Submit</b>” and your order is canceled successfully.</li>
    </ol>
    <h4>Note: Read the cancellation policy before canceling the product.</h4>
    <p>If your order has been shipped or is under delivery to your delivery/ shipping address, you will have to contact our team or call us at <b>9809527885</b>.</p>
    <p>Regardless of the above-mentioned scenario if you changed your mind to cancel an order but the order is already being delivered to you then you will have to apply for a refund. You can go through our refund policy as well.</p>
    <p>For refunding a product, you can contact our team or call us at <b>9809527885</b>.</p>
</div>

<hr>

{% include "footer/footer.html" %}
{% endblock %}