{% extends "base.html" %}


{% block title %}
  NEHOT - Delivery Timeline
{% endblock %}

{% block delivery_timeline %}

<h1 class="text-center"><u>Delivery Timeline</u></h1>
<div class="my-5">
    <p>Nephot (“we” and “us”) is the operator of (https://nephot.com/ ) (“Website”). By placing an order through this
        website you will be agreeing to the delivery timelines. These are provided to ensure both parties are aware of
        and agree upon this arrangement to mutually protect and set expectations on our service.</p>

    <h3>Delivery Terms</h3>
    <p>The seller generally takes 1-3 days for location inside Kathmandu valley (Kathmandu, Bhaktapur, and Lalitpur);
        the days may be extended to 7 also.</p>
    <p>For locations outside the valley, it takes a minimum of 2-4 days. However, it may take an extra day if the order
        placement and shipment date have a Saturday within that period.</p>

    <h3>Dispatch Time</h3>
    <p>Your orders are usually dispatched within 2 to 7 business days of payment of the order.</p>

    <h3>Change of Delivery Address</h3>
    <p>For a change of delivery address request, you can change the address at any time before the order has been
        dispatched.</p>

    <h3>Items Out Of Stock</h3>
    <p>If an item is out of stock, we will wait for the item to be available before dispatching your order. We will wait
        for the product until the existing items will be in stock.</p>

    <h3>Delivery Time Exceeded</h3>
    <p>If the delivery time has exceeded the forecasted time, please contact us so that we can conduct an investigation.
    </p>
    <p>The customer can always get track of their orders. In order to know about our tracking policy, read our tracking
        order policy. For all customer service inquiries, please submit an inquiry at <a href="#">info@nephot.com</a> to
        track the delivery timelines.</p>
    <p>For more information, you can refer to our terms and conditions. Also, you can read the privacy policy.</p>
</div>
<hr>

{% include "footer/footer.html" %}
{% endblock %}