{% extends "base.html" %}

{% block FAQ %}
<style>
    p{
        color: gray;
        padding-left: 5px;
    }
</style>
<h1><u>FAQ</u></h1>

<div>
    <h1>Account FAQ</h1>
    <div>
        <h4>How can I create my Nephot account?</h4>
        <p>On my account page, you can see both <b>register</b> and <b>login</b>, if you are a new user you can register by email. Click here to create a Nephot account.</p>
        
        <h4>How can I sign-up as a customer on Nephot?</h4>
        <p>You can go to my account for signing up and signing in. Nephot has both the forms available there.</p>
        
        <h4>How can I track my order?</h4>
        <p>After you log in to your <b>Nephot account</b> in the menu, you can see <b>my order</b> which will have a list of your order displayed. Click here to know how to track your order.</p>
        
        <h4>How do I cancel my order?</h4>
        <p>From your Nephot account, you can see my orders from where you can cancel a product specifying a reason for it. Click here to know how to cancel your order.</p>
        
        <h4>How to return a product?</h4>
        <p>From your Nephot account, you can see my orders from where you can return a product specifying a reason for it. Click here to know how to return your order.</p>
        
        <h4>How can I add a new delivery address to my account?</h4>
        <p>Once you are on your dashboard, go to <b>addresses</b> and change the address you want to change as <b>billing</b> or the <b>shipping address</b>.</p>
        
        <h4>How do I change my delivery address?</h4>
        <p>The delivery address refers to the shipping address. You can change the delivery address by going into the address from the dashboard and editing the current shipping address.</p>
        
        <h4>How does Nephot protect the customer’s data?</h4>
        <p>We have a privacy policy to cover up your data. We don’t share your data without your consent.</p>
        
        <h4>I believe someone has logged in to my account and placed the order, what should I do?</h4>
        <p>You can contact us at our customer care as soon as possible.</p>
        
        <h4>How can I reset my password through Email/SMS?</h4>
        <p>You have to click on forget the password that is on my account page. Then, you will be redirected to further processing using either SMS or email.</p>
        
        <h4>How do I change the personal details of my account?</h4>
        <p>From your dashboard, go to account details to change personal details.</p>
        
        <h4>Can we use multiple email addresses to log in to my Nephot account?</h4>
        <p>We don’t provide multiple email addresses for a single account. For security purposes, Nephot provides only one email for an account. However, you can replace your current email address with a new one.</p>
        
        <h4>How can I change my password?</h4>
        <p> If you are logged in you can change your password by navigating into the <b>account details</b>.</p><p>Else you can recover it from my account page by clicking forgot password. This way you will recover your password from the email.</p> 
    </div>
    <div>
        <h1><u>Order FAQ</u></h1>
        <h4>Why am I having trouble placing products in the cart?</h4>
        <p>Sometimes the product can’t be added to the cart due to the poor internet connection. Check your connection and add the product to the cart or else you may not have logged in to your account.</p>

        <h4>Do I need an account to shop on Nephot?</h4>
        <p>No, you can place an order by calling us at <b>9809527885</b> or either by emailing us at <a href="#">info@nephot.com</a>.</p>

        <h4>Can I call Nephot to place an order?</h4>
        <p>Yes, you can place an order by calling us at <b>9809527885</b>, and <b>01-4220013</b>.</p>

        <h4>How do I remove an item from my cart?</h4>
        <p>You can simply click on the close icon on the left of the product. This will remove the product from the cart.</p>

        <h4>Why is my Order Cancelled?</h4>
        <p>Your order might be canceled as you may have canceled it but aren’t aware of the product might not be in stock. Please verify by calling us at <b>9809527885</b>.</p>

        <h4>How do I place an order on Nephot?</h4>
        <p>You can either call us at <b>9809527885</b> or quote us or email us at <a href="#">info@nephot.com</a>.</p>

        <h4>Why am I unable to find my location during order placement?</h4>
        <p>If you are unable to find the location while placing an order, you can add that in a note while your order is being placed.</p>

        <h4>How to Filter Search Results with Product Ratings?</h4>
        <p>While you are searching for a product, you can set the value for relevance and select value for effective search results.</p>

        <h4>Are all products on Nephot new and unused?</h4>
        <p>Yes, Nephot sells a product that is new and unused.</p>

        <h4>Where can I find more detailed information about a product?</h4>
        <p>You can simply click on the product to see the detailed description.</p>

        <h4>Why do I see different prices for the same product?</h4>
        <p>The vendors for the same product may be different as well as the quality may differ.</p>

        <h4>How do I cancel my order?</h4>
        <p>To cancel an order you will need to go to my orders and cancel the product defining the cancellation reason. Read more on how to cancel the order.</p>

        <h4>What do the different order statuses in ‘My Order’ mean?</h4>
        <p>The different order statuses in “My Order” mean the delivery updates such as processing, shipping, delivered, and canceled.</p>
    </div>
    <div>
        <h1><u>Payment FAQ</u></h1>
        <h4>What payment options does Nephot provide?</h4>
        <p>Nephot accepts payment in the form of cash, esewa transfer, and bank transfer.</p>
    </div>

    <div>
        <h1><u>Shipping FAQ</u></h1>

        <h4>Will somebody contacts me before delivering the package to my location?</h4>
        <p>You will be notified either by notification, SMS, or Phone.</p>

        <h4>What are the most common reasons for delivery delays?</h4>
        <p>If the product is out of stock or the order has been made on off-days the delivery might be late.</p>

        <h4>Why are my items shipped separately?</h4>
        <p>This may occur when the items are out of stock.As soon as the item is in stock the items will be shipped.</p>

        <h4>How are shipping charges calculated?</h4>
        <p>It is simply based on location, if your shipping location is inside the Valley then we charge Rs 50 but if you are located outside the valley we charge you Rs 150.</p>

        <h4>Does Nephot deliver orders outside Nepal?</h4>
        <p>No, we don’t deliver products outside Nepal.</p>

        <h4>Can I change my shipping address after I have placed my order?</h4>
        <p>You can but if your orders have been packed, the order will be shipped to an old shipping address. In order to avoid these, you can call us at <b>9809257885</b>.</p>

        <h4>I found the package open and the product seal is broken on delivery. What should I do?</h4>
        <p>You should report it to our team. You can either chat from Facebook or call us at <b>9809527885</b>.</p>

        <h4>My parcel has been reported missing. What now?</h4>
        <p> You can simply contact our team at <b>9809527885</b>.</p>

        <h4>Can I pick up my item instead of having it delivered?</h4>
        <p>Yes, you can pick the product from our office. We are located at New Road, Kathmandu, and Pokhara.</p>

    </div>

    <div>
        <h1><u>Refund FAQ</u></h1>

        <h4>What is Nephot’s Returns Policy?</h4>
        <p>Click here to read more about Nephot’s returns policy.</p>

        <h4>What options can I choose to return my item?</h4>
        <p>You can have either choose return and refund or return and exchange. For more queries, you can call us at <b>9809527885</b>.</p>

        <h4>How can I track my Return?</h4>
        <p>You will be notified by SMS, Phone, or email. We will be in touch with you.</p>

        <h4>How do I check if my product has a warranty?</h4>
        <p>The return process usually takes 2 to 7 days working days.</p>

        <h4>Where is the nearest drop-off location?</h4>
        <p>We are located in two locations: New road and Pokhara. You can drop it off you can either choose our return services.</p>

        <h4>How should I pack the items for return?</h4>
        <p>You can pack the product as it was during the time of packing. You can also read the criteria for returning the products.</p>

        <h4>I lost my warranty card. How can I claim a warranty?</h4>
        <p>You can just contact our team; we will help you claim a warranty.</p>

        <h4>Where should I go for my warranty claim?</h4>
        <p>You can just call our team at <b>9809527885</b> and submit the warranty card. The rest of the process will be carried out smoothly.</p>

        <h4>What options can I choose to return my item?</h4>
        <p>You can have either choose return and refund or return and exchange. For more queries, you can call us at <b>9809527885</b>.</p>

        <h4>How can I track my Return?</h4>
        <p>You will be notified by SMS, Phone, or email. We will be in touch with you.</p>

        <h4>How do I check if my product has a warranty?</h4>
        <p>The product description has a warranty on it. Otherwise, you can connect us by calling us at <b>9809527885</b>.</p>

        <h4>How long is the return process?</h4>
        <p>The return process usually takes 2 to 7 days working days.</p>

        <h4>Where is the nearest drop-off location?</h4>
        <p>We are located in two locations: New road and Pokhara. You can drop it off you can either choose our return services.</p>

        <h4>How should I pack the items for return?</h4>
        <p>You can pack the product as it was during the time of packing. You can also read the criteria for returning the products</p>

        <h4>I lost my warranty card. How can I claim a warranty?</h4>
        <p>You can just contact our team; we will help you claim a warranty.</p>

        <h4>Where should I go for my warranty claim?</h4>
        <p>You can just call our team at <b>9809527885</b> and submit the warranty card. The rest of the process will be carried out smoothly.</p>
</div>
</div>
<hr>
{% include "footer/footer.html" %}
{% endblock %}