{% extends "base.html" %}

{% block my_orders %}
<h1><u>My Orders</u></h1>

<div>
<p>To view your orders (if the order is placed from the website), then you should follow these steps:</p>

<ol>
    <li>Firstly, click on my account from the Nephot website. Then, log in to your account.</li>
    <li>Click on “<b>My Orders</b>” and view the order list.</li>
    <li>You can view all of your orders listed. You can track the deliveries or you can even cancel your order.</li>
</ol>
</div>

<hr>
{% include "footer/footer.html" %}
{% endblock  %}