{% extends "base.html" %}

{% block title %}
  NEPHOT - New User Guide
{% endblock %}


{% block new_user_guide %}


<h1 class="text-center"><u>New User Guide</u></h1>


<div class="px-4 mt-5">
    <p>To the new user, Nephot provides you the new user guide.</p>
    <p><b>To open an account</b></p>
    <div>
        <ol>
            <li>Go to “My Account” and sign up using your email.</li>
            <li>Once you are signed you will be in the dashboard.</li>
            <li>On your left, you can view the list of menus like Dashboard, Orders, Downloads, Addresses, Account
                Details, and Logout.</li>
            <li>You can go to the home page to view products on our site. You can add the product accordingly to the
                wish list and the cart. This feature works as in other e-commerce sites.</li>
            <li>Orders: You can see all of your orders listed here. You can cancel an order or view the order delivery
                status. Apart from it, you will see browse products if you have no orders placed.</li>
            <li>Downloads: If you have downloaded any of the products you will have them displayed here.</li>
            <li>Addresses: You can set up your billing and shipping address</li>
            <li>Account Details: All of your account details can be seen here. You can even change passwords from here.
            </li>
            <li>Logout: You can simply log out of your account. The next time you will need to log in to reach out to
                your account.</li>
        </ol>
    </div>
    <p>You can view our FAQs for more information.</p>
</div>
<hr>

{% include "footer/footer.html" %}


{% endblock %}