{% extends "base.html" %}

{% block title %}
NEPHOT - Return Product
{% endblock %}

{% block return_product %}
<h1 class="text-center"><u>Return Product</u></h1>
<div class="mt-5">
    <p>If you have the order placed from the website you will need to login into your Nephot account in order to return
        the product. Else, you can contact our team or even make a call at <b>9809527885</b>.</p>
    <p>To return a product from the Nephot website you will need to follow these steps below:</p>
    <ol>
        <li>Firstly, Sign in to your Nephot account and select <b>My Orders</b>.</li>
        <li>Select the order you would like to return and click on the <b>Manage Order</b> button.</li>
        <li>Click on <b>Return Items</b>.</li>
        <li>Then, fill in the <b>Return Form</b>. Categorize your return if it is a <b>return and refund</b> or
            <b>return and exchange</b>.</li>
        <li>For the product to be returned the product will have to fall under these <b>criteria</b>.
            <ul>
                <li>
                    Must be unused, unworn, unwashed and without any flaws else the product won’t be returned.
                </li>
                <li>
                    Must have the original tags, user manual, warranty cards, freebies, and accessories; present during
                    the time of delivery.
                </li>
                <li>
                    Should be returned in the original and undamaged manufacturer packaging/box with the labels attached
                    (during the time of delivery).
                </li>
            </ul>

        </li>
        <li>Your return order will be confirmed so, you can either drop the product at the Nephot store or you will have
            to wait for our pick-up service.</li>
        <li>After you return a product, you will either get a refund or an exchange as you have mentioned earlier in the
            form.</li>
    </ol>
    <p>You can even refer to our refund policy.</p>
</div>
<hr>

{% include "footer/footer.html" %}
{% endblock %}