{% extends "base.html" %}

{% block title %}
NEPHOT - Return & Refund
{% endblock %}

{% block return_refund %}
<h1 class="text-center"><u>Return & Refund</u></h1>

<div class="mt-5">
    <p>If the product purchased from Nephot is defective/ damaged during the delivery, we’d recommend you to reach out to us to return the product.The item purchased may be eligible for a refund depending upon the category and the condition of the item.</p>

    <p>We will inspect the product before approving it for return and refund, which may take a certain time, 1-3 working days.</p>

    <h1>To return a product</h1>

    <ol>
        <li>Firstly, Sign in to your Nephot account and select <b>My Orders</b>.</li>
        <li>Select the order you would like to return and click on the <b>Manage Order</b> button.</li>
        <li>Click on <b>Return Items</b>.</li>
        <li>Then, fill in the <b>Return Form</b>. Categorize your return if it is a <b>return and refund</b> or
            <b>return and exchange</b>.</li>
        <li>For the product to be returned the product will have to fall under these <b>criteria</b>.
            <ul>
                <li>
                    Must be unused, unworn, unwashed and without any flaws else the product won’t be returned.
                </li>
                <li>
                    Must have the original tags, user manual, warranty cards, freebies, and accessories; present during
                    the time of delivery.
                </li>
                <li>
                    Should be returned in the original and undamaged manufacturer packaging/box with the labels attached
                    (during the time of delivery).
                </li>
            </ul>

        </li>
        <li>Your return order will be confirmed so, you can either drop the product at the Nephot store or you will have
            to wait for our pick-up service.</li>
        <li>After you return a product, you will either get a refund or an exchange as you have mentioned earlier in the
            form.</li>
    </ol>

    <h1>To refund a product</h1>
    <p>After the product goes through the refund process only then the refund process takes place.</p>
    <p>The product to be refunded can either be refunded or exchange, you can mention it during the time of return. Once, the product is refunded the shipping charges will not be refunded.</p>
    <p>For any of your products being refunded, the payment option chosen will take 1 to 7 working days.</p>

</div>


<hr>

{% include "footer/footer.html" %}
{% endblock %}