{% extends "base.html" %}

{% block title %} NEPHOT - Shipping Charges {% endblock %}

{% block shipping_charges %}

<h1 class="text-center"><u>Shipping Charges</u></h1>

<div class="mt-5">
    <p>Nephot (“we” and “us”) is the operator of (https://nephot.com/ ) (“Website”). By placing an order through this
        website you will be agreeing to the shipping terms below. These are provided to ensure both parties are aware of
        and agree upon this arrangement to mutually protect and set expectations on our service.</p>

    <div>
        <ol>
            <div>
                <li class="fw-bold">General</li>
                <p>This section subject to stock availability. We try to maintain accurate stock counts on our website
                    but from time to time there may be a stock discrepancy and we will not be able to fulfill all your
                    items at the time of purchase. In this instance, we will fulfill the available products to you, and
                    contact you about whether you would prefer to wait for the restocking of the back-ordered item or if
                    you would prefer for us to process a refund or cancel an order.</p>
            </div>
            <div>
                <li class="fw-bold">Shipping/Delivery Costs</li>
                <p>Shipping costs are calculated during checkout based on locations. Shipping/ Delivery charges vary
                    from location to location as for the deliveries made within the valley (Kathmandu, Lalitpur, and
                    Bhaktapur) is Rs 50. However, for the deliveries outside the valley, we charge Rs 150.</p>
            </div>

            <p>Payment for shipping/delivery can be done through esewa, bank transfer, and payment on delivery.</p>
            <div>
                <li class="fw-bold">Returns</li>
                <ul>
                    <li class="fw-bold">Return Due To Change of Mind</li>
                    <p>Nephot will happily accept returns due to a change of mind as long as a request to return is
                        received by us within 7 days of receipt of item and are returned to us in original packaging,
                        unused, and in resellable condition.</p>

                    <p>Return shipping will be paid from the customer’s expense and will be required to arrange their
                        shipping.</p>

                    <p>Once returns are received and accepted, refunds will be processed to store credit for a future
                        purchase. We will notify you once this has been completed through email.</p>

                    <p>Nephot will refund the value of the goods returned but will NOT refund the value of any shipping
                        paid.</p>


                    <div>
                        <li class="fw-bold">Warranty Returns</li>
                        <p>Nephot will happily honor any valid warranty claims, provided a claim is submitted within 90
                            days of receipt of items.

                            Customers will be required to pre-pay the return shipping; however, we will reimburse you
                            upon successful warranty claim.

                            Upon return receipt of items for a warranty claim, you can expect Nephot to process your
                            warranty claim within 7 days.</p>
                    </div>
                    <p>Once the warranty claim is confirmed, you will receive the choice of:</p>
                    <ol style="list-style: lower-alpha; padding-bottom: 10px;">
                        <li>Refund to your payment method</li>
                        <li>A refund in store credit</li>
                        <li>A replacement item sent to you (if stock is available)</li>
                    </ol>
                </ul>
            </div>
            <div>
                <li class="fw-bold">Delivery Terms</li>
                <p>For the domestic products, the shipments are in transit for 2 – 7 days.</p>
                <ul>
                    <li>Dispatch Time</li>
                    <p>Orders are usually dispatched within 2 to 7 business days of payment of the order.</p>
                    <li>Change of Delivery Address</li>
                    <p>For a change of delivery address request, we can change the address at any time before
                        the order has been dispatched.</p>
                    <li>Items Out Of Stock</li>
                    <p>If an item is out of stock, we will wait for the item to be available before dispatching
                        your order. Existing items in the order will be reserved while we await this item.</p>
                    <li>Delivery Time Exceeded</li>
                    <p>If the delivery time has exceeded the forecasted time, please contact us so that we can
                        conduct an investigation.</p>
                </ul>
            </div>


            <li class="fw-bold">Tracking Notifications</li>
            <p>Upon dispatch, customers will receive a tracking link from which they will be able to
                follow the progress of their shipment based on the latest updates made available by the
                shipping provider.</p>
            <li class="fw-bold">Parcels Damaged In Transit</li>
            <p>If you find a parcel is damaged in transit, if possible, please reject the parcel from
                the courier and get in touch with our customer service. If the parcel has been delivered
                without you being present, please contact customer service with the next steps.</p>
            <li class="fw-bold">Duties & Taxes</li>
            <p>Sales tax has already been applied to the price of the goods as displayed on the website.
            </p>
            <li class="fw-bold">Cancellations</li>
            <p>If you change your mind before you have received your order, we are able to accept
                cancellations at any time before the order has been dispatched. If an order has already
                been dispatched, please refer to our refund policy.</p>
            <li class="fw-bold">Insurance</li>
            <p>Parcels are insured for loss and damage up to the value as stated by the courier.</p>
            <ul>
                <li>Process for parcel damaged in-transit</li>
                <p>We will process a refund or replacement as soon as the courier has completed their
                    investigation into the claim.</p>
                <li>Process for parcel lost in transit</li>
                <p>We will process a refund or replacement as soon as the courier has conducted an
                    investigation and deemed the parcel lost.</p>
            </ul>
            <li class="fw-bold">Customer service</li>
            <p>For all customer service inquiries, please submit an inquiry at <a href="#">info@nephot.com</a></p>
        </ol>
    </div>
    <hr>
    {% include "footer/footer.html" %}
</div>

{% endblock %}