<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="header-nav bg-light">
        <div class="container">
            <div>
                <div class="col-sm-12 col-md-12 col-lg-12 d-flex flex-wrap bg-white">
                    <div class="nav-link bg-dark col-sm-6 col-md-4 col-lg-2">
                        <div class="d-flex">
                            <p class="fs-4 m-auto text-light">Watches</p>
                            <i class="bi bi-stopwatch-fill fs-4 m-auto text-light"></i>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-8 col-lg-10 m-auto">
                        <ul class="nav bg-light d-flex flex-wrap m-auto bg-white"
                            style="list-style: none;">
                            <li class="nav-item">
                                <a class="nav-link fs-6" href="#"><i class="bi bi-lightning-fill"></i>
                                    Best Seller</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-6" href="#"><i class="bi bi-clock-fill"></i>
                                    Wall Clock</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-6" href="#"><i class="bi bi-watch"></i>
                                    Analog Watch</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-6" href="#"><i class="bi bi-smartwatch"></i>
                                    Digital Watch</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="container col-sm-12 col-md-12 col-lg-12 ">
            <div class="col-sm-12 col-md-12 col-lg-12 d-flex flex-wrap bg-white">
                <div id="div-top1" class=" d-flex col-lg-12 col-md-12 col-sm-12">
                    <div class="col-sm-4 col-md-4 col-lg-2">
                        <img class="pic1" src="https://lifestyle.iloveindia.com/lounge/images/analog-and-digital-watches.jpg"
                            alt="camera" srcset="">
                    </div>
                    <div class=" col-sm-8 col-md-8 col-lg-10 d-flex">
                        <button type="button" class="arrow left" onclick="slideLeft()"> &#10094;
                        </button>
                        <div class="cards col-sm-12 col-md-12 col-lg-10 d-flex overflow-hidden">
                            <div class="col-sm-12 col-md-12 col-lg-3 py-3 align-content-center">
                                <div class="card col-sm-12 col-md-6 col-lg-12 d-flex">
                                    <div class="pic">
                                        <img src="https://th.bing.com/th/id/OIP.lTmSRLPfVUJxz76w1rT8eQHaEX?rs=1&amp;pid=ImgDetMain"
                                            alt="Card Image">
                                    </div>
                                    <div class="name">
                                        <h5 class="fs-3">1</h5>
                                        <p>Descriopcvbnmnbcvkjhgffghjkllkjhgfdfghjklbn</p>
                                        <div class="d-flex gap-2">
                                            <p>Rs.800</p>
                                            <strike class="text-danger">Rs.700</strike>
                                        </div>
                                        <div>
                                            <input type="button" class="btn btn-success"
                                                value="ADD TO CART">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-3 py-3 align-content-center">
                                <div class="card col-sm-12 col-md-6 col-lg-12 d-flex">
                                    <div class="pic">
                                        <img src="https://th.bing.com/th/id/OIP.lTmSRLPfVUJxz76w1rT8eQHaEX?rs=1&amp;pid=ImgDetMain"
                                            alt="Card Image">
                                    </div>
                                    <div class="name">
                                        <h5 class="fs-3">2</h5>
                                        <p>Descriopcvbnmnbcvkjhgffghjkllkjhgfdfghjklbn</p>
                                        <div class="d-flex gap-2">
                                            <p>Rs.800</p>
                                            <strike class="text-danger">Rs.700</strike>
                                        </div>
                                        <div>
                                            <input type="button" class="btn btn-success" <input
                                                type="button" class="btn btn-success"
                                                value="ADD TO CART">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-3 py-3 align-content-center">
                                <div class="card col-sm-12 col-md-6 col-lg-12 d-flex">
                                    <div class="pic">
                                        <img src="https://th.bing.com/th/id/OIP.lTmSRLPfVUJxz76w1rT8eQHaEX?rs=1&amp;pid=ImgDetMain"
                                            alt="Card Image">
                                    </div>
                                    <div class="name">
                                        <h5 class="fs-3">3</h5>
                                        <p>Descriopcvbnmnbcvkjhgffghjkllkjhgfdfghjklbn</p>
                                        <div class="d-flex gap-2">
                                            <p>Rs.800</p>
                                            <strike class="text-danger">Rs.700</strike>
                                        </div>
                                        <div>
                                            <input type="button" class="btn btn-success"
                                                value="ADD TO CART">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-3 py-3 align-content-center">
                                <div class="card col-sm-12 col-md-6 col-lg-12 d-flex">
                                    <div class="pic">
                                        <img src="https://th.bing.com/th/id/OIP.lTmSRLPfVUJxz76w1rT8eQHaEX?rs=1&amp;pid=ImgDetMain"
                                            alt="Card Image">
                                    </div>
                                    <div class="name">
                                        <h5 class="fs-3">4</h5>
                                        <p>Descriopcvbnmnbcvkjhgffghjkllkjhgfdfghjklbn</p>
                                        <div class="d-flex gap-2">
                                            <p>Rs.800</p>
                                            <strike class="text-danger">Rs.700</strike>
                                        </div>
                                        <div>
                                            <input type="button" class="btn btn-success"
                                                value="ADD TO CART">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-3 py-3 align-content-center">
                                <div class="card col-sm-12 col-md-6 col-lg-12 d-flex">
                                    <div class="pic">
                                        <img src="https://th.bing.com/th/id/OIP.lTmSRLPfVUJxz76w1rT8eQHaEX?rs=1&amp;pid=ImgDetMain"
                                            alt="Card Image">
                                    </div>
                                    <div class="name">
                                        <h5 class="fs-3">5</h5>
                                        <p>Descriopcvbnmnbcvkjhgffghjkllkjhgfdfghjklbn</p>
                                        <div class="d-flex gap-2">
                                            <p>Rs.800</p>
                                            <strike class="text-danger">Rs.700</strike>
                                        </div>
                                        <div>
                                            <input type="button" class="btn btn-success"
                                                value="ADD TO CART">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="arrow right" onclick="slideRight()"> &#10095;
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>