:root {
  --main-color: #70abcb;
  --secondary-color: #f1f1f1;
  --text-color: #333;
}







.container {
  max-width: 95%;
  padding: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

hr {
  border: 1px solid var(--main-color);
}


.boxshadow {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.boxshadow:hover {
  box-shadow: 0 16px 35px rgba(0, 0, 0, 0.15);
}

.cursor {
  cursor: pointer;
}

.buttonUI {
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 10px;
  background-color: #f2f2f2;
  color: var(--text-color);
  font-weight: 700;
  border: 1px solid var(--main-color);
}

.buttonUI:hover {
  color: var(--main-color);
}

.back-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.back-icon {
  font-size: 2rem;
  color: var(--main-color);
  transition: transform 0.2s ease;
}

.back-icon:hover {
  transform: scale(1.1);
  color: var(--text-color);
}


.pointcursor {
  cursor: pointer;
}