{% extends "mainpage.html" %}

{% load static %}

{% include "cdnlink.html" %}

{% block home %}
<link rel="stylesheet" href="{% static 'CSS/mainstyle.css' %}">

{% if request.path == "/login/" %}

{% block login %}{% endblock %}
{% elif request.path == '/register/' %}
{% block register %}{% endblock %}

{% else %}

{% block cart_detail %}{% endblock %}
{% block category %}{% endblock %}
{% block search %} {% endblock %}
{% block product_detail %} {% endblock %}
{% block blog %} {% endblock %}
{% block blogdetail %} {% endblock %}
{% endif %}

{% endblock %}