{% load static %}

<script src="{% static 'JS/script.js' %}" async defer></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.tiny.cloud/1/jkk7x68jr5yjhxnwjqps72q25l1g0acffet2mln2x26a99ua/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<!-- <script src="https://cdn.tiny.cloud/1/jkk7x68jr5yjhxnwjqps72q25l1g0acffet2mln2x26a99ua/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script> -->

<script>
    tinymce.init({
      selector: "textarea",
      plugins: [
        "anchor",
        "autolink",
        "charmap",
        "codesample",
        "emoticons",
        "image",
        "link",
        "lists",
        "media",
        "searchreplace",
        "table",
        "visualblocks",
        "wordcount",
      ],
      toolbar:
        "undo redo code | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat",
      tinycomments_mode: "embedded",
      tinycomments_author: "Author name",
      mergetags_list: [
        { value: "First.Name", title: "First Name" },
        { value: "Email", title: "Email" },
      ],
      ai_request: (request, respondWith) =>
        respondWith.string(() =>
          Promise.reject("See docs to implement AI Assistant")
        ),
    });
  </script>

<!-- navbar -->
<script>
function toggleMobileMenu(trigger) {
    const menu = document.getElementById('mobileMenu');
    menu.classList.toggle('active');
    trigger.classList.toggle('open');

    // Optional: close menu when clicking outside
    document.addEventListener('click', function handleClickOutside(e) {
        if (!menu.contains(e.target) && !trigger.contains(e.target)) {
            menu.classList.remove('active');
            trigger.classList.remove('open');
            document.removeEventListener('click', handleClickOutside);
        }
    });
}
</script>

<!-- imageslider -->
<script>

      let slideIndex = 0;
    imageSlide();

    function imageSlide() {
        let i;
        let images = document.getElementsByClassName("imageSlide");
        for (i = 0; i < images.length; i++) {
            images[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > images.length) {
            slideIndex = 1;
        }
        images[slideIndex - 1].style.display = "block";
        setTimeout(imageSlide, 3000);
    }



  let scrollAmount = 0;

  function slideLeft() {
    const cards = document.getElementsByClassName("cards");
    scrollAmount -= 250;
    cards.style.transform = `translateX(${scrollAmount}px)`;
  }
  function slideRight() {
    const cards = document.getElementsByClassName("cards");
    scrollAmount += 250;
    cards.style.transform = `translateX(${scrollAmount}px)`;
  }
</script>
